{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container-fluid">
    {% include "navbar.html" %}

    <h1>Welcom to {{title}}!</h1>
    <h2>Please Select a Shop Below:</h2>
    {% for shop in shops%}
    {% if loop.index % 3 == 0 %}
      <div class="row">
    {% endif %}
      <div class="col-md-4" data-id={{shop.id}}>
        <a href="/shops/{{shop.id}}">
        <div class="row donutRow">
            <div class="row donutShop">
              <div class="col-md-6" >
                <h2>
                  {{shop.name}}
                </h2>
              </div>
              <div class="col-md-6">
                <h4>
                  {{shop.city}}
                </h4>
              </div>
            </div>
        </div>
      </div>
    {% if loop.index % 3 == 0 %}
    </div>
    {% endif %}
    {%endfor%}
  </div>
{% endblock %}
